# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.tmp

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build
build/
coverage/

# Ambiente
.env
.env.local
